<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<style>
  body {
    margin-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  #logo-circle{
      height: 80px;
      width: 230px;
      float: left;
      margin-left: 0px;
  }
  #wrap {
    width: 1100px;
    margin: 0 auto;
  }

  #chart {
    margin-top: 0px;
    float: right;
    width: 900px;
  }
</style>
</head>
<body>

  <div id='wrap'>
    <div id="logo-circle">
      <img src="../static/logo.svg" alt="Logo">
    </div>
    <br>
    <br>
    <br>
    <h1> Monthly Trends </h1>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <label for="pick_month">Select Month</label>
    <input id="pick_month" type="month" name="pick_month" value="2019-12">
    <label for="myList">Select Data Type</label>
    <select id = "types">
     <option value = "Sleep">Sleep</option>
     <option value = "Mood">Mood</option>
     <option value = "Downtime">Downtime</option>
     <option value = "Exercise">Exercise</option>
     <option selected value = "Work">Work</option>
     <option value = "Meals">Meals</option>
     <option value = "Social">Social</option>
    </select>
    <div id="chart_div"></div>
    <div id='chart'>
      <script>
      var table_type = $("#types :selected").val();
      var curr_month = document.getElementById('pick_month').value;
      google.charts.load('current', {packages: ['corechart', 'line']});      
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      const activities = document.getElementById('types');
      const month = document.getElementById('pick_month');
      activities.addEventListener('change', (e) => {
        console.log(`e.target.value = ${ e.target.value }`);
        table_type = e.target.value;
        drawChart();
      });
      month.addEventListener('change', (e) => {
        console.log(`e.target.value = ${ e.target.value }`);
        curr_month = e.target.value;
        drawChart();
      });
      function drawChart() {
        var jsonData = $.ajax({
            url: "/monthlyvalues",
            data: {
              'id': table_type,
              'month': curr_month,
            },
            dataType: "json",
            cache: false,
            type: "POST",
            async: false,
            success: function (data) {
              console.log(data);   
            },
            }).responseText;
        console.log(jsonData);
        var arr = JSON.parse(jsonData);
        console.log(arr);
        var data = new google.visualization.DataTable();
        if (table_type == "Mood") {
          data.addColumn('string', 'Date');
          data.addColumn('number', 'Happiness');
        } else {
          data.addColumn('string', 'Date');
          data.addColumn('number', 'Quality');
          data.addColumn('number', 'Hours');
        }
        
        data.addRows(arr);

        var options = {
            title: table_type,
            hAxis: {
              title: 'Day of Month'
            },
            colors: ['#F86767', '#40E0D0']
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    </div>
  </div>
</body>
</html>
