<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <style>
  body {
    margin-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  #logo-circle{
    height: 80px;
    width: 230px;
    float: left;
    margin-left: 0px;
  }
  #wrap {
    width: 1100px;
    margin: 0 auto;
  }
  #chart {
    margin-top: 0px;
    float: right;
    width: 900px;
  }
</style>
</head>
<body>
  <div id='wrap'>
    <div id="logo-circle">
      <img src="../static/logo.svg" alt="Logo">
    </div>
    <br>
    <br>
    <br>
    <h1> Weekly Trends  </h1>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div id="chart_div"></div>
    <div id='chart'>
      <script>
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        // TODO: 'Mood' annotation isn't displaying
        var data = google.visualization.arrayToDataTable([
          ['Day of Week', 'Sleep', 'Exercise', 'Work', 'Meals',
          'Social', 'Downtime', { role: 'annotation' } ],
          ['Sunday', 7, 1, 4, 4, 3, 3, 'Mood: 5'],
          ['Monday',  8, 0, 5, 3, 4, 2, 'Mood: 3'],
          ['Tuesday',  7, 1, 4, 4, 3, 3, 'Mood: 4'],
          ['Wednesday',  7, 1, 4, 4, 3, 3, 'Mood: 5'],
          ['Thursday',  8, 0, 5, 3, 4, 2, 'Mood: 4'],
          ['Friday',  9, 1, 3, 4, 5, 1, 'Mood: 5'],
          ['Saturday',  8, 1, 1, 4, 7, 2, 'Mood: 5']
        ]);
        var options = {
          chart: {
            title: 'Your Week in Review',
            subtitle: 'Average Time Spent on Activities',
          },
          bars: 'vertical',
          vAxis: {
            format: 'decimal',
            maxValue: 24, // it doesn't look like this is working on the y-axis
            minValue: 0,
          },
          height: 400,
          isStacked: true,
        };
        var chart = new google.charts.Bar(document.getElementById('chart_div'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
      </script>
    </div>
    <div style='clear:both'></div>
  </div>
</body>
</html>
